@model int
@{
}
<div class="col-lg-4">
    <div class="stats stats-primary">
        <h3 class="stats-title"> Aktif Kullanıcılar </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="far fa-user" ></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">@Model.ToString()</div>
                <div class="stats-change">
                  
                </div>
            </div>
        </div>
    </div>
</div>