@model SiteInfo

<a href="@Model.InstaUrl"><i class="fa fa-instagram"></i></a>
<a href="@Model.TwUrl"><i class="fa fa-twitter"></i></a>
<a href="@Model.YoutubeUrl"><i class="fa fa-youtube-play"></i></a>
<a href="@Model.FaceUrl"><i class="fa fa-facebook"></i></a>