@model int

<div class="col-lg-4">
    <div class="stats stats-warning">
        <h3 class="stats-title"> Pasif Kullanıcılar </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-user-slash"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">@Model.ToString()</div>
                <div class="stats-change">
                    
                </div>
            </div>
        </div>
    </div>
</div>
