
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<main class="dash-content">
    <div class="container-fluid">

        <div class="row">
            @await Component.InvokeAsync("UsersCount")
            @await Component.InvokeAsync("PUsersCount")
            @await Component.InvokeAsync("MUsersCount")
            
            @await Component.InvokeAsync("MonthlyCharge")
            @await Component.InvokeAsync("MonthlyExpense")
            
          @*  <div class="col-lg-4">
                <div class="stats stats-secondary">
                    <h3 class="stats-title"> Secondary </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">$100</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+17.5%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="stats stats-warning">
                    <h3 class="stats-title"> Warning </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">$100</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+17.5%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="stats stats-light">
                    <h3 class="stats-title"> Light </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">$100</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+17.5%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stats stats-dark">
                    <h3 class="stats-title"> Dark </h3>
                    <div class="stats-content">
                        <div class="stats-icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                        <div class="stats-data">
                            <div class="stats-number">$100</div>
                            <div class="stats-change">
                                <span class="stats-percentage">+17.5%</span>
                                <span class="stats-timeframe">from last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</main>