@model SiteAdressInfo
<div class="contact-widget">
    <div class="cw-text">
        <i class="fa fa-map-marker"></i>
        <p>@Model.Adress</p>
    </div>
    <div class="cw-text">
        <i class="fa fa-mobile"></i>
        <ul>
            <li>@Model.Phone</li>
            <li>@Model.Phone2</li>
        </ul>
    </div>
    <div class="cw-text email">
        <i class="fa fa-envelope"></i>
        <p>@Model.Email</p>
    </div>
</div>
